config {
    // location for all nf-tests
    testsDir = "."

    // Disable nf-test work directory to allow Nextflow management for cloud
    useWorkDir = false

    // nf-test directory including temporary files for each test
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"

    // List of filesnames or patterns that should trigger a full test run if changed
    triggers 'conf/test.config', 'conf/test_full.config', 'nextflow.config', 'nf-test.config'

    // specify nextflow custom config
    options "--custom_config_base https://raw.githubusercontent.com/wslh-bio/wslh-configs/refs/heads/main/"

    // adding extra utilities to nf-test
    plugins {
        load "nft-utils@1.0.0"
    }
}
