config {
    // location for all nf-tests
    testsDir = "tests"

    // Disable nf-test work directory to allow Nextflow management for cloud
    useWorkDir = false

    // location of an optional nextflow.config file specific for executing tests
    configFile = "tests/config/nextflow.config"

    // List of filesnames or patterns that should trigger a full test run if changed
    triggers 'conf/test.config', 'conf/test_full.config', 'nextflow.config', 'nf-test.config', 'tests/config/nextflow.config', 'tests/config/nf-test.config'

    // specify nextflow custom config
    options "--custom_config_base https://raw.githubusercontent.com/wslh-bio/wslh-configs/refs/heads/main/"

    // specify profile from custom config
    profile = "awsdev"
}
