config {
    // location for all nf-tests
    testsDir = "."

    // nf-test directory including temporary files for each test
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"

    // location of an optional nextflow.config file specific for executing tests
    configFile = "tests/config/nextflow.config"

    // run all test with the defined docker profile from the main nextflow.config
    profile "test"

    // List of filesnames or patterns that should trigger a full test run if changed
    triggers 'conf/test.config', 'conf/test_full.config', 'nextflow.config', 'nf-test.config', 'tests/config/nextflow.config', 'tests/config/nf-test.config'

    // specify nextflow options
    // options = "-work-dir s3://dev-wslh-sequencing-analyses/work/"
    // options "--custom_config_base https://raw.githubusercontent.com/wslh-bio/wslh-configs/refs/heads/main/ -bucket-dir s3://dev-wslh-sequencing-analyses/work/"

    // adding extra utilities to nf-test
    plugins {
        load "nft-utils@0.0.9"
    }
}
