//#########################
//###Pipeline Parameters###
//#########################

/*
By default the pipeline looks for "_" in the read file name
and keeps everything before it as a sample id if you use "_"
in your sample names change the sample id separator to a
different value i.e. "-" or "".
*/

//Sample ID Separator
params.name_split_on = "_"

//Docker Content Trust
//1 = use only signed docker containers; 0 = use any containers
env.DOCKER_CONTENT_TRUST = 1

params.reads = ""
params.outdir = "SPNtypeID_results"

//Trimming parameters
params.minlength=10
params.trimdirection="lr"
params.qualitytrimscore=10
params.savetrimmedreads=false

//##################
//##Nextflow Tower##
//##################
//tower.accessToken = ''
//tower.enabled = true

//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true

profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  aws {
    includeConfig 'configs/aws_batch.config'
  }
  singularity {
    includeConfig 'configs/singularity.config'
  }
}
