//#########################
//###Pipeline Parameters###
//#########################


/*
By default the pipeline looks for "_" in the read file name
and keeps everything before it as a sample id if you use "_"
in your sample names change the sample id separator to a
different value i.e. "-" or "".
*/
//Sample ID Separator
params.sample_id_sep = "_"

//Docker Content Trust
//1 = use only signed docker containers; 0 = use any containers
env.DOCKER_CONTENT_TRUST = 1

//Number of cpus to use for cg-pipeline
params.cg_pipeline_cpus = 8

//Number of cpus to use for kraken
params.kraken_cpus = 8


//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true

profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  aws {
    includeConfig 'configs/aws_batch.config'
  }
}
