/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
