params {
    ecr_registry = ''
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=23.10'
}

conda {
    enabled = false
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?ASSEMBLY_STATS_SUMMARY' { container = 'wslh-bioinformatics/pandas@sha256:bf3cb8e5f695cc7c4cf8cc5ab7e7924d1fc4c40dfbe7cb907110e93a7bf6f101' }
withName: '(.+:)?BBDUK_SUMMARY' { container = 'wslh-bioinformatics/pandas@sha256:bf3cb8e5f695cc7c4cf8cc5ab7e7924d1fc4c40dfbe7cb907110e93a7bf6f101' }
withName: '(.+:)?BBDUK' { container = 'wslh-bioinformatics/bbtools@sha256:10c3b2d53da7cf6021dfdc684a0119530c4a1aacd9d1a8a2954af2b33440e59e' }
withName: '(.+:)?BIOAWK' { container = 'wslh-bioinformatics/bioawk@sha256:9e45d66b690722172f1c0e3396cc93373ade3bbe75c60cae338a0eb3ac2f44c9' }
withName: '(.+:)?CALCULATE_ASSEMBLY_STATS' { container = 'wslh-bioinformatics/pandas@sha256:bf3cb8e5f695cc7c4cf8cc5ab7e7924d1fc4c40dfbe7cb907110e93a7bf6f101' }
withName: '(.+:)?COVERAGE_STATS' { container = 'wslh-bioinformatics/pandas@sha256:bf3cb8e5f695cc7c4cf8cc5ab7e7924d1fc4c40dfbe7cb907110e93a7bf6f101' }
withName: '(.+:)?FASTQC_SUMMARY' { container = 'wslh-bioinformatics/fastqc@sha256:6e4ace04f051e6138447ca64f5c6f44889157cc641fe8e0a40947a3949d47ab8' }
withName: '(.+:)?FASTQC' { container = 'wslh-bioinformatics/fastqc@sha256:6e4ace04f051e6138447ca64f5c6f44889157cc641fe8e0a40947a3949d47ab8' }
withName: '(.+:)?KRAKEN' { container = 'wslh-bioinformatics/kraken@sha256:96ba57017a2b5495d553b177ed47a3c85b5bf79392e4e8335e7cd79cdd57917c' }
withName: '(.+:)?MULTIQC' { container = 'wslh-bioinformatics/multiqc@sha256:23c5f869c8f162754dd6d4fa18e8fb7d9d592bb0e6c4de2d1f4cd0c033bd0011' }
withName: '(.+:)?PERCENT_STREP_SUMMARY' { container = 'wslh-bioinformatics/pandas@sha256:bf3cb8e5f695cc7c4cf8cc5ab7e7924d1fc4c40dfbe7cb907110e93a7bf6f101' }
withName: '(.+:)?QUALITY_STATS' { container = 'wslh-bioinformatics/pandas@sha256:bf3cb8e5f695cc7c4cf8cc5ab7e7924d1fc4c40dfbe7cb907110e93a7bf6f101' }
withName: '(.+:)?QUAST_SUMMARY' { container = 'wslh-bioinformatics/pandas@sha256:bf3cb8e5f695cc7c4cf8cc5ab7e7924d1fc4c40dfbe7cb907110e93a7bf6f101' }
withName: '(.+:)?QUAST' { container = 'wslh-bioinformatics/quast@sha256:84753d0c00487d7f5e99265f4912efeb0823c9b86731e89cadd6384f913c1c05' }
withName: '(.+:)?CREATE_REPORT' { container = 'wslh-bioinformatics/pandas@sha256:bf3cb8e5f695cc7c4cf8cc5ab7e7924d1fc4c40dfbe7cb907110e93a7bf6f101' }
withName: '(.+:)?SAMPLESHEET_CHECK' { container = 'wslh-bioinformatics/python@sha256:a6d6415735d03cbb0ddedbb81d0a729008769aabcecb783adb1efb633f2f1815' }
withName: '(.+:)?SAMTOOLS' { container = 'wslh-bioinformatics/samtools@sha256:0533035cad43e38d833181e9b4e8aadea08c9da4a6015b08d8b34f55e78a81c1' }
withName: '(.+:)?SEROBA_SUMMARY' { container = 'wslh-bioinformatics/pandas@sha256:bf3cb8e5f695cc7c4cf8cc5ab7e7924d1fc4c40dfbe7cb907110e93a7bf6f101' }
withName: '(.+:)?SEROBA' { container = 'wslh-bioinformatics/seroba@sha256:a4097d2972ef18892ea0bd2ed897ca987c3d5d8ac04131ae703f53b6876497f2' }
withName: '(.+:)?SHOVILL' { container = 'wslh-bioinformatics/shovill@sha256:3884a28889cc8c935bbd9da067d3dcf72d6972a6b5ab0ed1199874aef9c25fd3' }
withName: '(.+:)?WORKFLOW_TEST' { container = 'wslh-bioinformatics/pandas@sha256:bf3cb8e5f695cc7c4cf8cc5ab7e7924d1fc4c40dfbe7cb907110e93a7bf6f101' }
withName: '(.+:)?CUSTOM_DUMPSOFTWAREVERSIONS' { container = 'wslh-bioinformatics/multiqc@sha256:b0380bd93470fa15d30ec537ab9385b504addd0f57a448601215f499e2d43bd1' }
}

docker {
    enabled = true
    registry = '<account-id>.dkr.ecr.<region>.amazonaws.com'
}
