params {
    custom_config_base = "https://raw.githubusercontent.com/wslh-bio/wslh-configs/refs/heads/main"
}

includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"