process.executor = 'awsbatch'
process.queue = ''
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.region = 'us-east-2'
workDir = 's3://'

//docker.enabled = true
//cleanup=true

includeConfig 'docker_containers.config'

process {
  cpus = 2
  memory = '4 GB'
  withName:preProcess{
    container = linux_container
  }
  withName:clean_reads{
    container = bbtools_container
  }
  withName:bbduk_summary{
    container = pandas_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:fastqc_summary{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 8
    memory = '15 GB'
    container = shovill_container
  }
  withName:samtools{
    container = samtools_container
  }
  withName:coverage_stats{
    container = pandas_container
  }
  withName:quast{
    container = quast_container
  }
  withName:quast_summary{
    container = pandas_container
  }
  withName:bioawk{
    container = bioawk_container
  }
  withName:quality_stats{
    container = pandas_container
  }
  withName:kraken{
    container = kraken_container
  }
  withName:seroba{
    container = seroba_container
  }
  withName:typing_summary{
    container = pandas_container
  }
  withName:merge_results{
    container = pandas_container
  }
  withName:multiqc{
    container = multiqc_container
  }
}
