docker.enabled = true
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.region = 'us-east-2'
workDir = ''
cleanup=true

includeConfig 'docker_containers.config'

process {
  executor = 'awsbatch'
  queue = 'aws-nextflow'

  withName:preProcess{
    cpus = 2
    memory = '2 GB'
    container = seroba_container
  }
  withName:cg_pipeline{
    memory = '4 GB'
    container = seroba_container
  }
  withName:kraken{
    memory = '16 GB'
    container = kraken_container
  }
  withName:seroba{
    cpus = 8
    memory = '8 GB'
    container = seroba_container
  }
  withName:results{
    container = seroba_container
  }
  withName:clean_reads{
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:fastqc_summary{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 8
    memory = '15 GB'
    container = shovill_container
  }
  withName:quast{
    container = quast_container
  }
  withName:quast_summary{
    container = pandas_container
  }
  withName:samtools{
    container = samtools_container
  }
  withName:coverage_stats{
    container = pandas_container
  }
  withName:bbduk_summary{
    container = pandas_container
  }
  withName:multiqc{
    container = multiqc_container
  }
  withName:merge_results{
    container = pandas_container
  }
}
