docker.enabled = true
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.region = 'us-east-2'
workDir = 's3://krf-nextflow-testing/test_env/'
cleanup=true

includeConfig 'docker_containers.config'

process {
  executor = 'awsbatch'
  queue = 'aws-nextflow'

  withName:preProcess{
    cpus = 2
    memory = '2 GB'
    container = cg_pipeline_container
  }
  withName:cg_pipeline{
    cpus = 2
    memory = '2 GB'
    container = cg_pipeline_container
  }
  withName:kraken{
    cpus = 2
    memory = '2 GB'
    container = kraken_container
  }
  withName:seroba{
    cpus = 2
    memory = '2 GB'
    container = seroba_container
  }
}
