kraken_container = 'docker.io/wslhbio/kraken:1.0.0-wslh-signed'
seroba_container = 'docker.io/wslhbio/seroba:1.0.2-wslh-signed'
bbtools_container = 'docker.io/wslhbio/bbtools:38.76-wslh-signed'
fastqc_container = 'docker.io/wslhbio/fastqc:0.11.8-wslh-signed'
shovill_container = 'docker.io/wslhbio/shovill:1.1.0-wslh-signed'
quast_container = 'docker.io/wslhbio/quast:5.0.2-wslh-signed'
samtools_container = 'docker.io/wslhbio/samtools:1.10-wslh-signed'
multiqc_container = 'docker.io/wslhbio/multiqc:1.11-wslh-signed'
pandas_container = 'docker.io/wslhbio/pandas:1.3.2-wslh-signed'
bioawk_container = 'docker.io/wslhbio/bioawk:1.0-wslh-signed'
linux_container = 'ubuntu:xenial'
