docker.enabled = true

includeConfig 'docker_containers.config'

process {
  withName:preProcess{
    container = seroba_container
  }
  withName:cg_pipeline{
    container = seroba_container
  }
  withName:kraken{
    container = kraken_container
  }
  withName:seroba{
    container = seroba_container
  }
  withName:results{
    container = seroba_container
  }
}
