singularity.enabled = true

//singularity image cache, uncomment to change from workdir
//singularity.cacheDir = ""

includeConfig 'docker_containers.config'

process {
  withName:preProcess{
    container = seroba_container
  }
  withName:cg_pipeline{
    container = seroba_container
  }
  withName:kraken{
    container = kraken_container
  }
  withName:seroba{
    container = seroba_container
  }
  withName:results{
    container = seroba_container
  }
}
